.horizontal-split {
  display: flex;
  width: 100%;
}

.horizontal-split> .gutter {
  cursor: col-resize;
  width: 3px;
  z-index: 1;
  background-color: #CBD5E0;
}

.gutter.gutter-horizontal {
  width: 2px;
}

.vertical-split {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vertical-split>div {
  overflow: hidden;
}

.vertical-split>.gutter {
  cursor: row-resize;
  height: 4px;
  z-index: 1;
  background-color: #4A5568;
}